<div class="text-center border rounded p-4">

    <h1>Stupid Coaching</h1>
    <p>Ask a question</p>

  <div class="mb-3 p-3">
    <form action="/answer" data-turbo="false">
      <input type="text" class="form-control" placeholder="Ask a question!" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary w-100">
    </form>
  </div>
</div>
